<div class="title-box">
    <div class="empty-green-box"> </div>
        <h1 class="title"> New Animal </h1>
    <div class="empty-green-box"> </div>
</div>

 <form action="/animals" method="post">
    <label for="name">Name:</label>
    <input type="text" name="name" id="name">
 
    <label for="species">Species:</label>
    <input type="text" required pattern="[a-zA-Z]*" name="species" id="species">
 
    <label for="breed">Breed:</label>
    <input type="text" required pattern="[a-zA-Z]*" name="breed" id="breed">
 
    <label for="age">Age:</label>
    <input type="number" min="0" name="age" value="0" id="age">
 
    <label for="adoptable">Adoptable:</label>
    <input type="checkbox" name="adoptable" id="adoptable">
 
    <label for="admission_date">Admission Date:</label>
    <input type="date" name="admission_date" id="admission_date">

    <input type="submit" value="Add Animal">
 
</form>