<h1> Adoptions </h1>

<p class="create-btn">
    <a class="btn" href="/adoptions/new">Add new Adoption</a>
</p>

<ul>
    <% for adoption in @adoptions %>
    <li>
    <p><%= adoption.owner.first_name %> <%= adoption.owner.last_name %> Adopted <%= adoption.animal.name %> into their care!
    </p>
    </li>
    <% end %>
</ul>