<div class="title-box">
    <div class="empty-green-box"> </div>
        <h1 class="title"> Scotlands Animal Shelter Database </h1>
    <div class="empty-green-box"> </div> 
</div>

<div id="background">

<img src="https://www.zsl.org/sites/default/files/image/2014-07/meet-the-giraffes-whipsnade.jpg" class="stretch" alt="zoo">
</div>





