<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal Shelta</title>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="navbar">
  <a href="/">Home</a>
  <a href="/animals">Animals</a>
  <a href="/trainers">Trainers</a>
  <a href="/owners">Owners</a>
  <a href="/adoptions">Adoptions</a>
</div>
<h1>Liam's Animal Shelter<h1>

    <%= yield %>
</body>
<footer>
<p id="footer">Contact Support : 01234 567890<p>
</footer>
</html>