<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal Shelter</title>
    <link rel="icon" href="/images/paws.png">
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
    <link rel="stylesheet" href="/style.css" title="green">
</head>
<body>
<div class="navbar">
  <p>SAS : Scotlands Animal Shelter</p>
  <a href="/">Home</a>
  <a href="/animals">Animals</a>
  <a href="/owners">Owners</a>
  <a href="/trainers">Trainers</a>
  <a href="/adoptions">Adoptions</a>
</div>
    <%= yield %>
</body>
</html>