h1 {
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
}

.navbar {
    background-color: #121619;
    overflow: hidden;
    justify-content: center;
    display: flex;
}

.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #A7A2A9;
    color: #121619;
}