body {
    background-color: #09814A;
    align-content: center;
}

h1 {
    font-family: 'Black Han Sans', sans-serif;
    text-align: center;
}

footer {
    background-color: #A7A2A9;
    margin: 0%;
    padding: 0%;
    text-align: center;
}

.navbar {
    background-color: #121619;
    overflow: hidden;
    display: flex;
}

.nav-abb {
    color: #09814A;
    font-family: 'Monoton', cursive;
    display: flex;
    float: left;
    text-align: center;
    padding: 0% 2%;
}

.navbar a {
    justify-content: center;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #A7A2A9;
    color: #121619;
}

table, tr, td {
    border: 1px solid black;
    padding: 5px 15px;
}

.show-table {
    align-self: auto;
    justify-content: center;
}

#full-opacity {
    opacity: 1;
}

.home-page {
    height: 100%;
    width: 100%;
    background: url('/images/goat-background.jpg') no-repeat fixed;   
}

button {
    margin: 1%;
}
