<div class="title-box">
    <div class="empty-green-box"> </div>
        <h1 class="title"> Owners </h1>
    <div class="empty-green-box"> </div>
</div>

<p class="create-btn">
    <a class="btn" href="/owners/new">Add Owner</a>
</p>
<table>
<tr>
    <th>Firts Name</th>
    <th>Last Name</th>
</tr>
<% for owner in @owners %>
<tr>
    <td><a href="/owners/<%= owner.id %>"><%= owner.first_name %></a></td>  
    <td><a href="/owners/<%= owner.id %>"><%= owner.last_name %></a></td>  
</tr>
<% end %>
 </table>